@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.uniPadding {
    padding: 0px 7%;
}


/* Contact Bar */

#contactBar {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Poppins-Regular;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#ContactBar p {
    text-align: center;
}

#checkNow {
    color: #EE9617
}


/* Poster Section */

#posterSection {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: repeat(2, auto);
    padding-bottom: 250px;
}

#posterTopbar {
    /* display: flex;
    justify-content: space-between; */
    padding: 20px 0px;
    font-family: Poppins-Medium;
    /* flex-wrap: wrap; */
}

#logo {
    font-size: 46px;
    padding: 10px 0px;
}

#navbar ul li {
    text-decoration: none;
    display: inline-block;
    padding: 50px 15px;
    font-size: 22px;
}

#btnTry4Free {
    padding: 30px 0px;
}

#btnTry4Free {
    display: grid;
    justify-content: right;
}

#btnTry4Free a {
    font-size: 20px;
    background-color: #D44800;
    width: 200px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid #D44800;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#posterInfo {
    grid-column: 1/-1;
    padding: 150px 0px;
}

#posterInfo h5 {
    font-size: 14px;
    font-family: Poppins-Regular;
    opacity: 80%;
    padding: 20px 0px;
}

#posterInfo h2 {
    font-size: 36px;
    font-family: Poppins-SemiBold;
}

#posterInfo h1 {
    font-size: 89px;
    font-family: Poppins-Bold;
}

#posterInfo p {
    font-family: Poppins-Regular;
    font-size: 22px;
    padding-bottom: 50px;
}

#posterBtnSection {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Poppins-Medium;
}

#transparrentBtn p {
    font-size: 20px;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}


/* style Button for plan button and box button */

#planBtn p,
#button>a>p {
    margin-left: 30px;
    font-size: 20px;
    background-color: white;
    color: #D44800;
    padding: 10px 30px;
    border: 1px solid #D44800;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#planBtn a {
    color: #D44800;
}


/* Trusted By Section */

#trustedBySection {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    padding: 70px 7%;
}

#heading {
    grid-column: 1/-1;
    font-size: 20px;
    font-family: Poppins-Medium;
    padding: 40px 0px;
}


/* Our Applications Hosting Services Section */

.hostingSection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    flex-wrap: wrap;
    padding: 50px 0px;
    justify-content: space-between;
}

.hostingText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hostingText>hr {
    width: 20%;
    border: 1px solid black;
    margin-bottom: 30px;
}

.hostingSection h1 {
    font-size: 54px;
    font-family: Poppins-Medium;
}

.hostingSection h1 b {
    color: red;
}

.hostingSection p {
    font-size: 22px;
    font-family: Poppins-Regular;
    padding: 30px 0px;
}

.bgGrid {
    width: 250px;
    height: 200px;
    background-image: url(../images/backgroundGrid.png);
    background-size: cover;
}


/* Quick book Section */

#hostingContainer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    justify-content: space-between;
}

#quickBook {
    text-align: center;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#quickBook img {
    width: 100%;
}

#quickBook h1 {
    font-size: 36px;
    font-family: Poppins-Medium;
    padding: 30px 0px;
    color: #FE5858;
}

#quickBook p {
    font-size: 22px;
    font-family: Poppins-Regular;
    text-align: justify;
    padding: 0px 20px 50px 20px;
}

#bookNowBtn {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

#bookNowBtn p {
    display: grid;
    justify-content: center;
    font-size: 20px;
    font-family: Poppins-Medium;
    background-color: #FE5858;
    color: white;
    width: 50%;
    padding: 10px 30px;
    border: 1px solid #D44800;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}


/* cloud Hosting */

#cloudHosting {
    width: 100%;
    margin-left: 20px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#cloudHosting>nav ul li {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Poppins-Medium;
    margin: 0px 10px;
    padding: 20px 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#CloudHostingBtn {
    background-color: #EE9617;
}

#buyLicenseBtn {
    background-color: #F7F4F2;
    opacity: 84%;
    border: 2px dashed #8989A2;
    border-bottom: none;
}

#buyLicenseBtn a {
    color: #8989A2;
}

#cloudHosting>h1 {
    font-size: 36px;
    font-family: oppins-Medium;
    padding: 30px 7%;
}

#line {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2px;
    width: 280px;
    margin: 20px 7%;
}

#cloudHosting>p {
    font-size: 22px;
    font-family: oppins-Regular;
    padding: 40px 7%;
    width: 80%;
}

#compareBtn,
#exploreBtn {
    padding: 40px 7%;
}

#compareBtn>a {
    font-size: 22px;
    font-family: oppins-Regular;
    background: linear-gradient(to right, #FE5858, #EE9617);
    border: 1px solid #D44800;
    padding: 10px 40px;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#exploreBtn>a {
    font-size: 22px;
    font-family: oppins-Regular;
    background-color: transparent;
    border: 1px solid #8989A2;
    color: #8989A2;
    padding: 10px 40px;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#cloudHostingLink {
    font-size: 16px;
    font-family: oppins-Regular;
    padding: 50px 7%;
}

#cloudHostingLink>a {
    color: #FE5858;
}

#cloudHostingBgImg {
    width: 100%;
    height: auto;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}


/* tax Application Section */

#taxApplicationSection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    padding: 150px 7%;
}

#taxInfo,
#taxCompanyLogo {
    width: 100%;
}

#taxInfo h1 {
    font-size: 54px;
    font-family: Poppins-Medium;
    padding: 20px 0px;
}

#taxInfo h1>a {
    color: #FE5858;
    text-decoration: none;
}

#taxInfo p {
    font-size: 22px;
    font-family: Poppins-Regular;
    padding: 20px 0px;
    width: 75%;
}

#taxCompanyLogo>img {
    width: 30%;
    padding: 10px;
    margin: 50px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#SecondLogo {
    position: relative;
    bottom: 50px;
}

#thirdLogo {
    position: relative;
    left: 50px;
}

#fourthLogo {
    position: relative;
    left: 50px;
    bottom: 50px;
}


/* Questions? Section */

#questionSection {
    display: grid;
    grid-template-columns: 64px 1fr 351px;
    grid-template-rows: auto;
    justify-content: center;
    padding: 50px 7%;
}

#verticleLine>hr {
    width: 64px;
    height: 351px;
    background: linear-gradient(to top, #EE9617, #f19007);
}

#questionHeading {
    display: grid;
    align-content: center;
}

#questionHeading>h1 {
    font-size: 40px;
    font-family: Poppins-Medium;
    padding: 0px 20px;
}

#questionHeading>h1 a   {
    color: #FE5858;
    text-decoration: none;
}

#questionHeading>hr {
    width: 60%;
    height: 2px;
    border: 1px solid black;
    margin: 20px 20px;
}

#questionHeading>p {
    font-size: 22px;
    font-family: Poppins-Regular;
    padding: 20px;
}

#button {
    width: 100%;
    height: 351px;
    background: linear-gradient(to left, #EE9617, #FE5858);
    display: flex;
    justify-content: center;
    align-items: center;
}
#button p{
    width: 220px;
    font-size: 20px;
    font-family: Poppins-Medium;
    background-color: white;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 100px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}


/* why ICE Cloud Hosting Section */

#bgGridRight {
    position: relative;
    top: 50px;
}

#bgGridLeft {
    position: relative;
    bottom: 100px;
}

#whyCloudHostingSection {
    padding: 150px 0px 100px 0px;
}


/* support Section */

#supportSection {
    padding: 0px 7%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
}

#supportSectionText ul li {
    font-size: 40px;
    font-family: Poppins-Medium;
    color: #EE9617;
}

#supportSectionText ul li a {
    font-size: 30px;
    color: black;
}

#supportSectionText hr {
    width: 40%;
    border: 1px solid black;
    height: 2px;
    margin: 30px 0px;
}

#supportSectionText p {
    font-size: 22px;
    font-family: Poppins-Regular;
}
#supportSectionImage{
    width: 100%;
    display: grid;
    justify-content: right;
}


/* Customer Testimonials Section */

#customerTestimonialsSection {
    display: grid;
    justify-content: center;
    padding: 150px 0px;
}


/* Customer Testimonials Like Section */

#customerTestimonialsStar {
    padding-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
}

#leftErrowSign,
#rightErrowSign {
    padding: 20px;
    border: 2px solid black;
    border-radius: 100%;
}

#leftErrowSign {
    transform: scaleX(-1);
}

#firstCustomer,
#secondCustomer,
#thirdCustomer {
    width: 305px;
    border: 2px dashed #707070;
    border-radius: 10px;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

#firstCustomer>img,
#secondCustomer>img,
#thirdCustomer>img {
    border-radius: 10px;
}

#firstCustomer>h1,
#secondCustomer>h1,
#thirdCustomer>h1 {
    font-size: 22px;
    font-family: Poppins-Medium;
    padding: 60px 0px 40px 0px;
}

#firstCustomer>p,
#secondCustomer>p,
#thirdCustomer>p {
    font-size: 18px;
    font-family: Poppins-Medium;
    padding: 20px 0px;
}

#secondCustomer {
    width: 370px;
}

#secondCustomer>img {
    background: linear-gradient(to right, #FE5858, #EE9617);
    padding: 40px 82px;
}

#secondCustomer>h1 {
    font-size: 28px;
}

#secondCustomer>p {
    font-size: 24px;
}

#secondCustomer p>a {
    font-size: 20px;
    color: #FE5858;
}


/* social RatingS Section */

#socialRatingSection {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    justify-content: space-around;
    padding: 100px 7%;
}

#socialRating1 {
    display: grid;
    grid-template-columns: 90px 250px;
    grid-template-rows: auto;
    padding: 50px 0px;
}

#iconSocial {
    padding: 10px;
}

#socialTitleAndStar>p {
    font-size: 20px;
    font-family: Poppins-Medium;
    padding: 5px 0px;
}

#socialTitleAndStar>img {
    padding: 5px;
}

#socialRatingSection hr {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, .30);
    background-color: rgba(0, 0, 0, .30);
    margin: 50px 0px;
}


/* free service and footer section */

#freeServiceAndFooterSection {
    background-image: url(../images/freeServices.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 415px;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}
#subscribe {
    padding: 30px 200px;
    font-size: 40px;
    font-family: Poppins-Medium;
}

#subscribe input {
    padding: 20px 180px 20px 20px;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 100px;
    background: transparent;
}

#subscribe input::placeholder {
    color: white;
}

#subscribe a {
    background-color: white;
    color: #FE5858;
    padding: 18px 20px 18px 20px;
    border: 2px solid white;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    font-size: 24px;
    font-family: Poppins-Regular;
    position: relative;
    right: 70px;
}
#subscribe a:hover{
    text-decoration: none;
    font-family: Poppins-Bold;
}
#footer {
    grid-column: 1/-1;
    font-size: 18px;
    font-family: Poppins-Regular;
    padding-bottom: 15px;
}
/* iPad Pro reponsive */
@media only screen And (max-width: 1024px){
    #contactBar{
        display: grid;
        grid-template-columns: repeat(aoto-fit, minmax(auto));
    }
    #posterSection{
        display: grid;
        grid-template-columns: auto auto;
    }
    #posterTopbar,
    #btnTry4Free,
    #navbar{
        grid-column: 1/-1;
        
        justify-content: center;
    }
    #navbar ul li{
        padding: 10px 8px;
    }
    
}