@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.uniPadding {
    padding: 0px 7%;
}


/* Contact Bar */

#ContactBar {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Poppins-Regular;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#leftPart a {
    color: #EE9617
}
#rightPart {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#rightPart a{
    padding-left:40px;
}

/* Poster Section */

#posterSection {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 250px;
}

#posterTopbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-family: Poppins-Medium;
    flex-wrap: wrap;
}

#logo {
    font-size: 46px;
    padding: 10px 0px;
}

#navbar ul li {
    text-decoration: none;
    display: inline-block;
    padding: 28px 15px;
    font-size: 20px;
}
#btnTry4Free{
    padding: 30px 0px;
}
#btnTry4Free a {
    font-size: 20px;
    background-color: #D44800;
    padding: 10px 30px;
    border: 1px solid #D44800;
    border-radius: 100px;
    box-shadow: 0px 2px 7px black;
}

#posterInfo {
    width: 60%;
    padding: 150px 0px;
}

#posterInfo h5 {
    font-size: 14px;
    font-family: Poppins-Regular;
    opacity: 80%;
    padding: 20px 0px;
}

#posterInfo h2 {
    font-size: 36px;
    font-family: Poppins-SemiBold;
}

#posterInfo h1 {
    font-size: 89px;
    font-family: Poppins-Bold;
}

#posterInfo p {
    font-family: Poppins-Regular;
    font-size: 22px;
    padding-bottom: 50px ;
}

#posterBtnSection {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Poppins-Medium;
}

#transparrentBtn p{
    font-size: 20px;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 0px 2px 7px black;
}

#planBtn p{
    margin-left: 30px;
    font-size: 20px;
    background-color: white;
    color: #D44800;
    padding: 10px 30px;
    border: 1px solid #D44800;
    border-radius: 100px;
    box-shadow: 0px 2px 7px black;
}

#planBtn a {
    color: #D44800;
}


/* Trusted By Section */

#trustedBySection {
    padding-top: 50px;
    padding-bottom: 50px;
}

#heading {
    font-size: 20px;
    font-family: Poppins-Medium;
    display: flex;
    padding: 40px 0px;
}

#errowIcon {
    margin-left: 10px;
}

#trustedLogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Our Applications Hosting Services Section */

#hostingSection {
    text-align: center;
}
#hostingInfo{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    justify-content: space-between;
}
#hostingText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;

}
#hostingText>hr{
    width: 20%;
    border: 1px solid black;
    margin-bottom: 30px;
}

#hostingInfo h1 {
    font-size: 54px;
    font-family: Poppins-Medium;
}

#hostingInfo h1 b {
    color: red;
}

#hostingInfo p {
    font-size: 22px;
    font-family: Poppins-Regular;
    padding: 30px 0px;
}
